[Desktop Entry]
Type=Application
Name=Echo Weather
GenericName=Weather Forecast
Comment=Detailed meteorological analysis and atmospheric weather experience
Exec=echo-weather %U
Icon=io.github.dezaetterg.Echo_Weather
Terminal=false
Categories=GNOME;GTK;Utility;Clock;
StartupNotify=true
X-GNOME-UsesNotifications=true
Keywords=Weather;Forecast;Temperature;Meteorology;Погода;Прогноз;
